body {
  background-color: aqua;
  font-family: "Lucida Console", "Courier New", monospace;
}

.badperson {
  font-style: italic;
}

.longlive {
  font-style: italic;
}

table,
th,
td {
  border: 1px solid black;
}

.bloodygithublogo {
  color: black;
  text-decoration: none;
}

.bloodygithublogo:hover {
  color: blue;
  text-decoration: none;
}
